.fpTHfu {
    position: relative;
    height: 100%;
    overflow-y: hidden !important;
    overflow-x: hidden;
    z-index: 3;
    background-color: rgb(249,249,249,0.7);
}
.sub-menu-content{
    overflow: hidden!important;
}